<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
    <title>Agendamentos - Condomínio Residencial Solar de Oliveira</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
        integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/stileAgenda.css">

</head>

<body>
	<main>
		<!--Tentando fazer das imagens o próprio botão/link-->
		<ul class="produtos">
			<li>
				<a href="/agenda">
					<h2>Piscina coberta</h2>
					<img src="../static/img/piscina_coberta.jpg">
					<p class="produto-descrica">Disponível de terça a domingo das 09:00 às 22:00.</p>
					<p class="produto-preco">Limite diário de 60 minutos por apartamento.</p>
				</a>
			</li>
			<li>
				<a href="/agenda">
					<h2>Salão de Festas</h2>
					<img src="../static/img/salao_de_festas.png">
					<p class="produto-descricao">Salão de festas com toda a infraestrutura para sua confraternização.</p>
					<p class="produto-preco">R$180,00 por reserva.</p>
				</a>
			</li>
			<li>
				<a href="/agenda">
					<h2>Churrasqueira</h2>
					<img src="../static/img/churrasqueira.jpg">
					<p class="produto-descricao">Espaço com churrasqueira para até 30 pessoas.</p>
					<p class="produto-preco">R$100,00 por resrva.</p>
				</a>
			</li>
		</ul>
	</main>
</body>

</html>